.stickyHeaderContainer {
    position: sticky;
    position: -webkit-sticky;
    top: 0px;
    z-index: var(--z-index-main-header);
    width: 100%;
    padding: 0;
}

.mainHeader {
    display: flex;
    align-items: center;
    background-color: var(--background-colour);
    border-bottom: var(--block-border);
    padding: 0.5rem 2rem;
    gap: 1rem;
    font-size: 1.5rem;
}

.menuButton {
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
    /* Makes the button size tighly hug the inner text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.menuButton span {
    font-size: 2rem;
}

.pageTitle {
    margin: 0;
}

.rightDivider {
    margin-left: auto;
}

.characterName {
    padding: 0rem 1rem;
}