.infoboxContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    text-align: center;
}

.titleContainer {
    border-bottom: 3px solid var(--subheading-colour);
    padding: 0.25rem;
    font-weight: bold;
    background-color: var(--medium-accent-colour);
}

.infoContainer {
    border-bottom: 1px solid var(--subheading-colour);
    flex-grow: 1;
    align-content: center;
}

@media (max-width: 1250px) {
    .infoboxContainer {
        flex-direction: row;
        width: 100%;
        align-items: stretch;
        max-width: none;
        flex: none;
    }

    .titleContainer {
        text-align: start;
        flex: 1;
        font-size: 1.2rem;
        padding-left: 1rem;
        align-content: center;
    }

    .infoContainer {
        text-align: end;
        flex: 3;
        font-size: 1.2rem;
        padding-right: 1rem;
    }
}