.fromFirstStyle {
    background-color: var(--green-accent-colour);
}

.fromFirstStyle:enabled:hover {
    background-color: var(--green-accent-colour);
}

.fromSecondStyle {
    background-color: var(--red-accent-colour);
}

.fromSecondStyle:enabled:hover {
    background-color: var(--red-accent-colour);
}

.statusButton {
    width: 100%;
    height: 100%;
}