.drawerOverlay {
    position: fixed;
    left: 0;
    width: 100%;
    height: calc(100% - var(--header-height));
    background: #0008;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease, visibility 0.3s ease;
    z-index: var(--z-index-drawer-overlay);
}

.drawerOverlay.show {
    opacity: 1;
    visibility: visible;
}

.drawer {
    height: 100%;
    background: var(--background-colour);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;
    position: absolute;
    overflow-y: scroll;
}

.drawer.right {
    border-left: var(--block-border);
    right: 0;
}

.drawer.right.open {
    transform: translateX(0);
}

.drawer.right.close {
    transform: translateX(100%);
}

.drawer.left {
    border-right: var(--block-border);
    left: 0;
}

.drawer.left.open {
    transform: translateX(0);
}

.drawer.left.close {
    transform: translateX(-100%);
}

.drawerContentContainer {
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
}

.drawerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    gap: 1rem;
}

.drawerContent h2 {
    width: 100%;
    padding: unset;
    margin: unset;
}