.searchResultsTable {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1rem;
}

.searchResultsTable h2 {
    width: 30%;
    font-size: 1.75rem;
}

.searchResult {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 3rem;
    gap: 1rem;
}


.searchResult:hover .spellName {
    background-color: var(--dark-accent-colour);
}

.searchResult:hover .spellName p {
    text-decoration: underline;
}

.spellName:hover {
    cursor: pointer;
}

.spellName {
    display: flex;
    width: auto;
    flex-grow: 1;
    background-color: var(--medium-accent-colour);
    border-bottom: 1px solid;
    font-weight: bold;
    font-style: italic;
    align-items: center;
    padding-left: 1rem;
    gap: 1rem
}

.addButtonContainer {
    width: 15%;
    min-width: 10rem;
}

.spellName p {
    margin: unset
}

.spellName span {
    width: 2rem;
    text-align: center;
}