.pageContainer {
    padding-inline: 4rem;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 1rem;
    margin-top: -2rem;
}

.pageTitleContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: auto auto auto;
    justify-content: space-between;
    margin-top: 1rem;
}

.pageTitleContainer h1 {
    margin: 0%;
    font-size: 2.75rem;
    text-align: center;
    grid-column: 2;
    grid-row: 1;
    font-style: italic;
}

.addButtonContainer {
    grid-column: 3;
    grid-row: 1;
    margin-top: 0.5rem;
    height: 3rem;
    width: 10rem;
    right: 0;
    justify-self: right;
}

.backButtonContainer {
    grid-column: 1;
    grid-row: 1;
    margin-top: 0.5rem;
    height: 3rem;
    width: 10rem;
    right: 0;
    justify-content: left;
}

.backButtonContainer button {
    width: 100%;
    height: 100%;
}

.pageContainer textarea {
    font-family: monospace;
    width: 23em;
    height: 22em;
    resize: none;
    white-space: pre;
    overflow-wrap: normal;
    overflow-x: scroll;
}

.errorText {
    background-color: var(--light-accent-colour);
}

.descriptionContainer {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 2rem;
    text-align: justify;
}

.infoContainer {
    display: flex;
    gap: 1rem;
    align-items: stretch;
    flex-wrap: wrap;
    justify-content: center;
}

.topInfoContainer {
    display: flex;
    gap: 1rem;
    align-items: stretch;
    justify-content: center;
}


.infoContainer * {
    min-width: 20rem;
    /* max-width: 30rem; */
}

.pageContainer h2 {
    font-size: 1.75rem;
}

.titleButtonsContainer {
    height: 3rem;
    width: 6rem;
    min-width: 10rem;
    margin-top: 0.5rem;
}

.loadingMessage {
    margin-top: 5rem;
}

.levelClassName {
    text-decoration: underline;
}

.spellLevelDisplay {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media (max-width: 1500px) {
    .pageTitleContainer.longTitle {
        grid-template-rows: fit-content(100%) fit-content(100%);
        grid-template-columns: repeat(2, fit-content(100%));
    }

    .longTitle .addButtonContainer {
        grid-column: 2;
        grid-row: 2;
    }

    .longTitle .backButtonContainer {
        grid-column: 1;
        grid-row: 2;
    }

    .longTitle h1 {
        max-width: 100%;
        grid-column: 1 / span 2;
        grid-row: 1;
    }
}

@media (max-width : 1250px) {
    .pageContainer {
        padding-inline: 0rem;
    }

    .infoContainer {
        gap: 0.5rem;
    }


    .infoContainer * {
        min-width: 8rem;
        max-width: none;
    }

    .topInfoContainer {
        flex-direction: column;
    }

    .descriptionContainer {
        padding-inline: 1rem;
        font-size: 1.3rem;
    }
}