.spellTable {
    background-color: var(--background-colour);
    border-collapse: collapse;
    font-size: 1.2rem;
    width: 100%;
    margin-bottom: 50px;
    table-layout: fixed;
    border-color: var(--border-colour);
}

.spellTable tbody tr {
    border-bottom: 1px solid var(--border-colour);
    height: 4rem;
}

.spellTable thead tr {
    height: 3rem;
}

.spellTable tbody tr:hover {
    cursor: pointer;
    /* background-color: var(--medium-accent-colour); */

}

.spellTable td {
    padding: 0.1rem 1rem 0.1rem 2.5rem;
}


.spellTable tr:nth-child(odd) {
    background-color: var(--background-colour);
}

.spellTable tr:nth-child(even) {
    background-color: var(--light-accent-colour);
}

.spellTable tr:hover {
    background-color: var(--dark-accent-colour);
}

.spellTable th {
    background-color: var(--medium-accent-colour);
    border-bottom: 2px solid;
    font-size: 1.5rem;
    padding-left: 2.5rem;
}

.spellTable thead {
    text-align: left;
}

.spellTableTitle {
    display: inline-block;
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.75rem;
}