.spellTable {
    background-color: var(--background-colour);
    border-collapse: collapse;
    font-size: 1.5rem;
    width: 100%;
    margin-bottom: 50px;
    table-layout: fixed;
}

.spellTable tr {
    border-bottom: 1px solid black;
    height: 2em;
}

.spellTable tbody tr:hover {
    cursor: pointer;
    /* background-color: var(--medium-accent-colour); */

}

.spellTable td {
    padding: 0.1rem 1rem 0.1rem 1rem;
}

.spellTable tr:nth-child(odd) {
    background-color: var(--background-colour);
}

.spellTable tr:nth-child(odd):hover {
    background-color: var(--background-darker);
}

.spellTable tr:nth-child(even) {
    background-color: var(--medium-accent-colour);
}

.spellTable tr:nth-child(even):hover {
    background-color: var(--dark-accent-colour);
}

.spellTable th {
    background-color: var(--medium-accent-colour);
    border-bottom: 2px solid black;
    font-size: 1.8rem;
}

.spellTable thead {
    text-align: left;
}

.spellTableTitle {
    display: inline-block;
    margin: 0;
    margin-bottom: 1rem;
}