body {
    margin: 0;
    background-color: var(--background-colour);
}

h1 {
    font-size: 3rem;
    color: var(--title-colour);
}

h2 {
    font-size: 1.5rem;
    border-bottom: 0.4rem solid var(--subheading-colour);
    color: var(--subheading-colour);
    letter-spacing: 0.15rem;
    padding: 0 3rem 0 3rem;
    text-align: center;
    margin: unset;
}

h3 {
    color: var(--subheading-colour);
    padding: 0 3rem 0 3rem;
    text-align: center;
    border-bottom: 0.1rem solid var(--subheading-colour);
    margin: unset;
    background-color: var(--medium-accent-colour);
    font-size: 1.2rem;
}

button {
    cursor: pointer;
    font: inherit;
    border-width: 1px 3px 3px 1px;
    border-style: solid;
    border-color: var(--border-colour);
    background-color: var(--background-colour);
    font-weight: 700;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

button:disabled {
    background-color: var(--dark-accent-colour);
    border-width: 2px;
}

button:active {
    border-width: 2px;
}

button:enabled:hover {
    background-color: var(--medium-accent-colour);
}

button.symbol,
button.spellbookIcon {
    font-size: 2rem;
}

button .symbol,
button .spellbookIcon {
    font-size: 2rem;
}

button p {
    padding-bottom: 0.11rem;
    margin: unset;
}

span.symbol,
span.spellbookIcon {
    font-size: 2rem;
}

input {
    font: inherit;
    background-color: var(--background-colour);
}

body > div > * {
    width: 100%;
    padding: 0rem 8rem 0rem 8rem;
    box-sizing: border-box;
}
