@font-face {
  font-family: 'EB Garamond';
  src: url("fonts/EBGaramond-VariableFont_wght.ttf") format('truetype');
  font-weight: 400 800;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url("fonts/EBGaramond-Italic-VariableFont_wght.ttf") format('truetype');
  /* font-weight: 100 900; */
  font-style: italic;
}

@font-face {
  font-family: 'Spellbook';
  src: url("fonts/spellbook.ttf");
}

:root[data-theme="dark"] {
  --background-colour: #181818;
  --light-accent-colour: #2a2a2a;
  --medium-accent-colour: #343434;
  --dark-accent-colour: #484848;
  --border-colour: #9b9485;
  --text-colour: #e4ddcf;
  --subheading-colour: var(--text-colour);
  --title-colour: var(--text-colour);
  --text-highlight-background-colour: #f1c45e;
  --searchbar-shadow: inset 5px 5px 15px #00000055;
  --highlight-accent-colour: #253650;
  --highlight-dark-accent-colour: #3d526d;
  --green-accent-colour: #1e3f1e;
  --red-accent-colour: #431a1a;
}


:root[data-theme="light"] {
  --background-colour: #fafafa;
  --light-accent-colour: #f4f4f4;
  --medium-accent-colour: #eaeaea;
  --dark-accent-colour: #e2e2e2;
  --border-colour: black;
  --subheading-colour: black;
  --title-colour: black;
  --text-colour: black;
  --text-highlight-background-colour: #0078D7;
  --searchbar-shadow: inset 2px 2px 2px #00000055;
  --highlight-accent-colour: #dfe0ff;
  --highlight-dark-accent-colour: #cdcef3;
  --green-accent-colour: #d4f0d2;
  --red-accent-colour: #ffd6d6;
}

*::selection {
  background-color: var(--text-highlight-background-colour);
  color: var(--background-colour);
}

* {
  --z-index-main-header: 200;
  --z-index-drawer-overlay: 100;
  --z-index-drawer: 150;
  --header-height: 100px;
  font-family: "EB Garamond";
  color: var(--text-colour);
  --block-border: 0.4rem solid;
  overscroll-behavior: none;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spellbookIcon {
  font-family: 'Spellbook';
  font-weight: normal;
  /* I'm using this as an alias for the class 'material-symbols-outlined' */
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  /* Symbol should be unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.symbol {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  /* I'm using this as an alias for the class 'material-symbols-outlined' */
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
  /* Symbol should be unselectable */
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.magicTwinkleIcon {
  background-clip: unset;
  -webkit-background-clip: unset;
  transition: -webkit-text-fill-color 0s;
}

*:hover > .magicTwinkleIcon {
  --twinkleBright: #d7a9ff;
  --twinkleMedium: #8e7ce7;
  --twinkleDark: #6d57dc;
  background-image: repeating-linear-gradient(90deg,
      var(--twinkleDark),
      var(--twinkleMedium) 15%,
      var(--twinkleBright) 35%,
      var(--twinkleBright) 45%,
      var(--twinkleMedium) 65%,
      var(--twinkleDark) 80%,
      var(--twinkleDark) 100%);
  background-size: 500%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 15s linear infinite;
  transition: -webkit-text-fill-color 0.7s;
}

@keyframes move {
  to {
    background-position: 75rem;
  }
}