@font-face {
  font-family: 'EB Garamond';
  src: url("fonts/EBGaramond-VariableFont_wght.ttf") format('truetype');
  font-weight: 400 800;
  font-style: normal;
}

@font-face {
  font-family: 'EB Garamond';
  src: url("fonts/EBGaramond-Italic-VariableFont_wght.ttf") format('truetype');
  /* font-weight: 100 900; */
  font-style: italic;
}

* {
  --background-colour: #fafafa;
  --medium-accent-colour: #f1f1f1;
  --dark-accent-colour: #e2e2e2;
  --light-accent-colour: #f4f4f6;
  font-family: "EB Garamond";
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.symbol {
  font-family: 'Material Symbols Outlined';
  font-weight: normal;
  /* I'm using this as an alias for the class 'material-symbols-outlined' */
  font-style: normal;
  font-size: inherit;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -moz-font-feature-settings: 'liga';
  -moz-osx-font-smoothing: grayscale;
}

.magicTwinkleIcon {
  background-clip: unset;
  -webkit-background-clip: unset;
  /* -webkit-text-fill-color: black; */
  color: black;
  transition: -webkit-text-fill-color 0s;
}

*:hover > .magicTwinkleIcon {
  background-image: linear-gradient(70deg, purple, purple, #cd99f2, #db8ada, purple, purple, purple, purple, purple, purple, purple);
  background-size: 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: move 35s linear infinite;
  transition: -webkit-text-fill-color 0.75s;
}

@keyframes move {
  to {
    background-position: 100vh;
  }
}