.toolbar {
    display: flex;
    gap: 4rem;
    font-size: 1.5rem;
    justify-content: center;
}

.searchBar {
    flex-grow: 4;
}

.browseButton {
    flex-grow: 4;
}

.settingsButton {
    flex-grow: 1;
}