.searchbar {
    display: flex;
    align-items: center;
    border-width: 3px 1px 1px 3px;
    border-style: solid;
    border-color: var(--border-colour);
    box-shadow: inset 2px 2px 2px #00000055;

    @media (prefers-color-scheme: dark) {
        box-shadow: inset 5px 5px 15px #00000055;
    }
}

.searchbar input {
    flex-grow: 11;
    font-size: 2rem;
    text-align: center;
    border-style: hidden;
    background-color: transparent;
}

.searchbar span {
    flex-grow: 0;
    text-align: center;
    pointer-events: none;
}

.searchbar input::placeholder {
    color: unset;
    opacity: 0.6;
}

.searchbar input:focus {
    outline-style: none;
}

.searchbar:focus-within input {
    outline-style: auto;
}

.searchbar span:has(+ input:focus) {
    visibility: hidden;
}