.searchbar {
    display: flex;
    align-items: center;
    border-width: 3px 1px 1px 3px;
    border-style: solid;
    border-color: var(--border-colour);
    box-shadow: var(--searchbar-shadow);
    width: 100%;
    height: 100%;
    position: relative;
    box-sizing: border-box;
}


.searchbar input {
    flex-grow: 11;
    font-size: 2rem;
    text-align: center;
    border-style: hidden;
    background-color: transparent;
    width: 100%;
}

.searchbar .searchIcon,
.searchbar .closeIcon {
    position: absolute;
    text-align: center;
    font-size: 2rem;
    min-width: 3rem;
}

.searchbar .searchIcon {
    pointer-events: none;
}

.searchbar .closeIcon {
    cursor: pointer;
    right: 0
}

.searchbar input::placeholder {
    color: unset;
    opacity: 0.6;
}

.searchbar input:focus {
    outline-style: none;
}


.searchbar:focus-within .searchIcon,
.searchbar:focus-within .closeIcon {
    visibility: hidden;
}