.toolbar {
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    column-gap: 4rem;
    row-gap: 1rem;
    flex-wrap: wrap;
    padding-top: 2rem;
}

.searchBar {
    flex-grow: 1;
}

.browseButton {
    flex-grow: 4;
}

.settingsButton {
    flex-grow: 1;
}

.buttonsContainer {
    flex-grow: 1;
    gap: 4rem;
    display: flex;
}